- obj = AddressDecorator.decorate(obj)
.form-group{class: add_error_class(obj, :first_name)}
  = f.label :first_name, {class: "control-label font-weight-light", value: "First Name"}
  = f.text_field :first_name, {class: "form-control", placeholder: "First Name"}
  .span.help-block= show_errors(obj, :first_name)

.form-group{class: add_error_class(obj, :last_name)}
  = f.label :last_name, {class: "control-label font-weight-light", value: "Last Name"}
  = f.text_field :last_name, {class: "form-control", placeholder: "Last Name"}
  .span.help-block= show_errors(obj, :last_name)

.form-group{class: add_error_class(obj, :address)}
  = f.label :address, {class: "control-label font-weight-light", value: "Address"}
  = f.text_field :address, {class: "form-control", placeholder: "Address"}
  .span.help-block= show_errors(obj, :address)

.form-group{class: add_error_class(obj, :city)}
  = f.label :city, {class: "control-label font-weight-light", value: "City"}
  = f.text_field :city, {class: "form-control", placeholder: "City"}
  .span.help-block= show_errors(obj, :city)

.form-group{class: add_error_class(obj, :zip)}
  = f.label :zip, {class: "control-label font-weight-light", value: "Zip"}
  = f.text_field :zip, {class: "form-control", placeholder: "Zip"}
  .span.help-block= show_errors(obj, :zip)

.form-group{class: add_error_class(obj, :country_id)}
  = f.collection_select(:country_id, Country.all, :id, :name, {include_blank: 'Nothing selected', selected: obj.show_selected_value, disabled: 'Nothing selected'}, { id: "country", class: "form-control"})
  .span.help-block= show_errors(obj, :country_id)

.form-group.mb-60{class: add_error_class(obj, :phone)}
  = f.label :phone, {class: "control-label font-weight-light", value: "Phone"}
  = f.text_field :phone, {class: "form-control", placeholder: "Example +355 66 123 4567"}
  .span.help-block= show_errors(obj, :phone)
