%main.container.general-main-wrap
  = render partial: '/checkout/steps'
  .text-center.mb-40
    %h3.general-subtitle Thank You for your Order!
    %p.font-weight-light An order confirmation has been has been sent to #{current_user.email}
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0 Order # #{current_order.id}
        %p.general-address.mb-30 #{current_order.updated_at.strftime('%B %-d %C')}
      %p.general-address
        = render partial: '/checkout/address', locals: { obj: current_user.billing_address }
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0 Order # #{current_order.id}
      %p.general-address.mb-30 #{current_order.updated_at.strftime('%B %-d %Y')}
  .visible-xs
    = render partial: '/carts/order_products_xs', locals: { obj: @form }
  .hidden-xs.divider-lg.pt-20
    = render partial: '/carts/order_products_md', locals: { obj: @form }
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render partial: '/checkout/summary', locals: {order: @form}
  .text-center
    = button_to 'Back to Store', wizard_path(:complete), {method: :put, class: "btn btn-default mb-20"}
