%main.container.general-main-wrap
  = render partial: '/checkout/steps'
  %h3.general-subtitle Credit Card
  .visible-xs
    = form_for current_order, url: wizard_path, method: :put do |f|
      -@deliveries.each do |delivery|
        .general-cart-item.divider-lg-bottom
          %table.table
            %tr
              %td.col-half
                %span.in-grey-600 Method
              %td.col-half
                .form-group.radio.mt-0.mb-0
                  %label.font-16.font-weight-light.pl-0
                    =f.radio_button :delivery, delivery.id, class: "radio-input", hidden: "true"
                    %span.radio-icon
                    %span.radio-text #{delivery.name}
            %tr
              %td
                %span.in-grey-600 Days
              %td
                %span.font-16.font-weight-light #{delivery.interval}
            %tr
              %td
                %span.in-grey-600 Price
              %td
        %span.font-16.in-gold-500 €#{delivery.price}
      .general-text-align
        %p.in-gold-500.font-18 Order Summary
        %table.general-summary-table
          = render partial: '/checkout/summary'
      .text-center
        = f.submit "Save and Continue", class: "btn btn-primary center-block mb-20"
  .hidden-xs.mb-res-50
    = form_for current_order, url: wizard_path, method: :put do |f|
      %table.table.table-hover
        %thead
          %tr
            %th.col-method
              %span.in-grey-600.ml-40 Method
            %th
              %span.in-grey-600 Days
            %th
              %span.in-grey-600 Price
        %tbody
          -@deliveries.each do |delivery|
            %tr
              %td
                .form-group.radio.mt-0.mb-0
                  %label.font-16.font-weight-light.pl-0
                    =f.radio_button :delivery, delivery.id, class: "radio-input", hidden: "true"
                    %span.radio-icon
                    %span.radio-text #{delivery.name}
              %td
                %span #{delivery.interval}
              %td
                %span.font-16.in-gold-500 €#{delivery.price}
      .general-text-align
        %p.in-gold-500.font-18 Order Summary
        %table.general-summary-table
          = render partial: '/checkout/summary'
      .text-center
        = f.submit "Save and Continue", class: "btn btn-primary center-block mb-20"
