.form-group.has-error
  = f.label :first_name, {class: "control-label font-weight-light", value: "First Name"}
  = f.text_field :first_name, {class: "form-control", placeholder: "First Name"}
  %span.help-block Please enter your first name
.form-group
  = f.label :last_name, {class: "control-label font-weight-light", value: "Last Name"}
  = f.text_field :last_name, {class: "form-control", placeholder: "Last Name"}
.form-group
  = f.label :address, {class: "control-label font-weight-light", value: "Address"}
  = f.text_field :address, {class: "form-control", placeholder: "Address"}
.form-group
  = f.label :city, {class: "control-label font-weight-light", value: "City"}
  = f.text_field :city, {class: "form-control", placeholder: "City"}
.form-group
  = f.label :zip, {class: "control-label font-weight-light", value: "Zip"}
  = f.text_field :zip, {class: "form-control", placeholder: "Zip"}
.form-group
  = f.collection_select(:country_id, Country.all, :id, :name, {}, { id: "country", class: "form-control"})
.form-group.mb-60
  = f.label :phone, {class: "control-label font-weight-light", value: "Phone"}
  = f.text_field :phone, {class: "form-control", placeholder: "Example +355 66 123 4567"}
.text-center.general-text-align
  = f.submit "Save", class: "button btn btn-default"
