%main.container
  %h1.general-title-margin Settings
  %ul.nav.nav-tabs.mb-20{role: "tablist"}
    %li.mb-10.active{role: "presentation"}
      %a{href: "#address", 'aria-controls': "address", role: "tab", 'data-toggle': "tab"} Address
    %li.mb-10{role: "presentation"}
      %a{href: "#privacy", 'aria-controls': "privacy", role: "tab", 'data-toggle': "tab"} Privacy
  .tab-content
    #address.tab-pane.fade.in.active.general-main-wrap{role: "tabpanel"}
      .hidden-xs.hidden-sm
        .row
          .col-md-5
            %h3.general-subtitle.mt-0 Billing Address
          .col-md-5.col-md-offset-1
            %h3.general-subtitle.mt-0 Shipping Address
      .row
        = form_for @shipping_address, method: :patch, url: user_update_shipping_path(current_user) do |f|
          .col-md-5.mb-40
            .visible-xs.visible-sm
              %h3.general-subtitle.mt-0 Billing Address
            .form-group.has-error
            = render partial: '/users/fields', locals: {f: f}
        = form_for @billing_address, method: :patch, url: user_update_billing_path(current_user) do |f|
          .col-md-5.col-md-offset-1.mb-25
            .visible-xs.visible-sm
              %h3.general-subtitle.mt-0 Shipping Address
            .form-group.has-error
            = render partial: '/users/fields', locals: {f: f}
    #privacy.tab-pane.fade{role: "tabpanel"}
      .row.mb-60
        .col-sm-5
          %p.in-gold-500.font-18.mb-25 Email
          = form_for current_user, method: :patch, url: user_update_email_path(current_user) do |f|
            .form-group.mb-35
              %label.control-label.font-weight-light{for: "email"} Enter Email
              = f.text_field :email, {class: "form-control font-weight-light", placeholder: "Enter your email", value: "#{current_user.email}"}
              = f.submit "Save", class: "btn btn-default mb-35"
        .col-sm-5.col-sm-offset-1
          %p.in-gold-500.font-18.mb-25 Password
          = form_for current_user, method: :patch, class: "general-form-md pb-25", url: user_update_password_path(current_user) do |f|
            .form-group.mb-30
              %label.control-label.font-weight-light{for: "oldPassword"} Old Password
              = f.text_field :current_password, {id: "oldPassword", class: "form-control", type: 'password', placeholder: "Old Password"}
            .form-group.mb-30
              %label.control-label.font-weight-light{for: "password"} New Password
              = f.text_field :password, {id: "password", class: "form-control", type: 'password', placeholder: "New Password"}
            .form-group.mb-40
              %label.control-label.font-weight-light{for: "confirmPassword"} Confirm Password
              = f.text_field :password_confirmation, {id: "confirmPassword", class: "form-control", type: 'password', placeholder: "Confirm Password"}
            .general-text-align
              = f.submit "Save", class: "btn btn-default mb-10"
        .col-sm-12
          .divider-lg-bottom
          %p.in-gold-500.font-18.mb-25.pt-20 Remove Account
          = form_for current_user, method: :delete, class: "general-form-md pb-25", url: admin_user_path(current_user) do |f|
            .general-settings-btn
              = f.submit "Please Remove My Account", class: "btn disabled mb-20"
            .form-group.checkbox.general-settings-checkbox
              %label.font-weight-light.pl-0
                %input.checkbox-input{type: "checkbox", hidden: "true"}
                %span.checkbox-icon
                  %i.fa.fa-check
                %span.checkbox-text I understand that all data will be lost
