%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators.general-carousel-indicators
      %li.active{'data-target': "#slider", 'data-slide-to': "0"}
      %li{'data-target': "#slider", 'data-slide-to': "1"}
    .carousel-inner{role: "listbox"}
      - flag = true
      - @books.each do |book|
        .item{ class: (flag ? 'active' : '') }
          .row
            .col-sm-5
              .general-img-wrap
                %a{ href: "/books/#{book.id}"}
                  %img.img-shadow.general-thumbnail-img.width-full{src: book.pictures.first.image.url, alt: "#{book.title}"}
            .col-sm-7
              .mb-60
                %h1= book.title
                %p.lead= markdown(book.description)
                %p.in-grey-600.small= separated book.authors, :full_name
                .general-align.pt-20
                  %button.disabled.btn Buy Now
                  - flag = false
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbotron.text-center.mb-0
    %h2.h1 Welcome to our amazing Bookstore!
    .mb-res-50
      %p.in-grey-600 We pore through hundreds of new books each month and select the five best we can find to share with our members.
    %button.btn.btn-default Get Started
  .mb-35
    %h3 Best Sellers
    .row
    - @bestsellers.each do |bestseller|
      .col-sm-6.col-md-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: bestseller.pictures.first.image.url(:thumb), alt: bestseller.title}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "/books/#{bestseller.id}"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                =link_to order_items_path(book_id: bestseller.id), remote: true, class: "thumb-hover-link", method: :post do
                  %i.fa.fa-shopping-cart.thumb-icon
        .mb-35
          .clearfix
            %p.pull-right.font-16.in-gold-500= "€#{bestseller.price}"
            %p.general-title.mr-55= bestseller.title
          %span.divider-sm
          %p.in-grey-600.small= separated bestseller.authors, :full_name
