%main.container.general-main-wrap
  %h1.general-title-margin Order #{@order.number}
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle.mt-0 Shipping Address
      %p.general-address
        = render partial: '/checkout/address', locals: { obj: current_user.shipping_address.use_billing_address ? current_user.billing_address : current_user.shipping_address }
    .col-sm-3
      %h3.general-subtitle.mt-0 Billing Address
      %p.general-address
        = render partial: '/checkout/address', locals: { obj: current_user.billing_address }
    .col-sm-3
      %h3.general-subtitle.mt-0 Shipments
      %p.general-address
        #{@order.delivery.name}
        %br
    .col-sm-3
      %h3.general-subtitle.mt-0 Payment Information
      %p.general-address
        #{@order.cart.number}
        %br
        #{@order.cart.date}
  .visible-xs
    -@order.order_items.each do |item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          %img.cart-img-shadow.width-full{src: "#{item.book.pictures.first.image.url}", alt: "#{item.book.title}"}
        %p.general-title #{item.book.title}
        %P.in-grey-600.font-weight-light #{markdown(item.book.description)}
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500 €#{item.book.price}
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span #{item.quantity}
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500 €#{item.quantity * item.book.price}
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        -@order.order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                %img.cart-img-shadow.pull-left.width-full{src: "#{item.book.pictures.first.image.url}", alt: "#{item.book.title}"}
            %td
              %p.general-title #{item.book.title}
              %p.in-grey-600.font-weight-light #{markdown(item.book.description)}
            %td
              %span.font-16.in-gold-500 €#{item.book.price}
            %td
              %span.ml-30 #{item.quantity}
            %td
              %span.font-16.in-gold-500 €#{item.quantity * item.book.price}
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render partial: '/checkout/summary', locals: {order: @order}
