%main.container.general-main-wrap
  %h1.general-title-margin #{t(:order)} #{@order.number}
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle.mt-0=t :shipping_address
      %p.general-address
        =@order.render_shipping_address
    .col-sm-3
      %h3.general-subtitle.mt-0=t :billing_address
      %p.general-address
        = render partial: '/checkout/address', locals: { obj: @order.billing_address }
    .col-sm-3
      %h3.general-subtitle.mt-0=t :shipments
      %p.general-address
        #{@order.delivery.name}
        %br
    .col-sm-3
      %h3.general-subtitle.mt-0=t :payment_information
      %p.general-address
        #{@order.filtred_card_number}
        %br
        #{@order.credit_card.date}
  .visible-xs
    -@order.order_items.each do |item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          %img.cart-img-shadow.width-full{src: "#{item.book.pictures.first.image.url}", alt: "#{item.book.title}"}
        %p.general-title #{item.book.title}
        %P.in-grey-600.font-weight-light #{markdown(item.book.description)}
        %table.table
          %tr
            %td
              %span.in-grey-600=t :price
            %td
              %span.font-16.in-gold-500 €#{item.book.price}
          %tr
            %td.vertical-middle
              %span.in-grey-600=t :quantity
            %td
              %span #{item.quantity}
          %tr
            %td
              %span.in-grey-600=t :subtotal
            %td
              %span.font-16.in-gold-500 €#{item.quantity * item.book.price}
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600=t :book
          %th.col-method
          %th
            %span.in-grey-600=t :price
          %th
            %span.in-grey-600=t :quantity
          %th
            %span.in-grey-600=t :total
      %tbody
        -@order.order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                %img.cart-img-shadow.pull-left.width-full{src: "#{item.book.pictures.first.image.url}", alt: "#{item.book.title}"}
            %td
              %p.general-title #{item.book.title}
              %p.in-grey-600.font-weight-light #{item.show_description}
            %td
              %span.font-16.in-gold-500 €#{item.book.price}
            %td
              %span.ml-30 #{item.quantity}
            %td
              %span.font-16.in-gold-500 €#{item.quantity * item.book.price}
  .text-center.general-text-right
    %p.in-gold-500.font-18=t :order_summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render partial: '/checkout/summary', locals: {order: @order}
