%main.container.general-main-wrap
  = render partial: '/checkout/steps'
  .text-center.mb-40
    %h3.general-subtitle Thank You for your Order!
    %p.font-weight-light An order confirmation has been has been sent to #{current_user.email}
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0 Order # #{current_order.id}
        %p.general-address.mb-30 #{current_order.updated_at.strftime('%B %-d %C')}
      %p.general-address
        #{current_user.shipping_address.full_name}
        %span.general-edit edit
        %br
        #{current_user.shipping_address.address}
        %br
        #{current_user.shipping_address.city} #{current_user.shipping_address.zip}
        %br
        #{current_user.shipping_address.country}
        %br
        Phone #{current_user.shipping_address.phone}
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0 Order # #{current_order.id}
      %p.general-address.mb-30 #{current_order.updated_at.strftime('%B %-d %Y')}
  .visible-xs
    - @order.order_items.each do |item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          %img.cart-img-shadow.width-full{src: "#{item.book.pictures.first.image.url}", alt: "#{item.book.title}"}
        %p.general-title #{item.book.title}
        %P.in-grey-600.font-weight-light markdown(item.book.description)
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500 €#{item.book.price}
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span #{item.quantity}
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500 €#{item.quantity * item.book.price}
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        - current_order.order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                %img.cart-img-shadow.pull-left.width-full{src: "#{item.book.pictures.first.image.url}", alt: "#{item.book.title}"}
            %td
              %p.general-title #{item.book.title}
              %p.in-grey-600.font-weight-light #{markdown(item.book.description)}
            %td
              %span.font-16.in-gold-500 €#{item.book.price}
            %td
              %span.ml-30 #{item.quantity}
            %td
              %span.font-16.in-gold-500 €#{item.quantity * item.book.price}
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render partial: '/checkout/summary', locals: {order: @order}
  .text-center
    %button.btn.btn-default.mb-20 Back to Store
