%main.container
  = link_to :back, class: "general-back-link" do
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          %img.img-responsive{src: "#{@book.pictures.first.image.url}"}
        .images.clearfix
          - @book.pictures.offset(1).each do |picture|
            %a.img-link{href: "#"}
              %img{src: "#{picture.image.url(:thumb)}"}
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= separated @book.authors, :full_name
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10 €#{@book.price}
        =form_for @order_item, url: order_items_path(book_id: @book.id), method: :post do |f|
          .col-xs-5.col-md-3
            .input-group.general-position
              %div.input-link.inc.button
                %i.fa.fa-minus.line-height-40
              = f.text_field :quantity, {class: "form-control quantity-input", id: 'quantity'}
              %div.input-link.dec.button
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = f.submit "Add to Cart", class: "btn btn-default pull-right general-position"
      .general-info-wrap.divider-lg
        %p Description
        %p.lead.small.line-height-2
          = markdown(@book.description)
          %a.in-gold-500.ml-10{href: "#"} Read More
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Year of publication
          %p.lead.small.pull-right= @book.year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Dimensions
          %p.lead.small.pull-right= @book.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Materials
          %p.lead.small.pull-right= separated @book.materials
  .mb-80
    %h3.in-gold-500.mb-25 Reviews (#{@book.reviews.count})
    - @book.reviews.each do |review|
      .general-message-wrap.divider-lg
        .clearfix
          %img.img-circle.logo-size.inlide-block.pull-left{src: "#{review.user.avatar.url(:thumb)}"}
          .ml-70
            %div
              .general-message-date.hidden-xs #{review.updated_at.strftime("%d/%m/%y")}
              .max-240
                .general-message-verified Verified Reviewer
                .general-message-name #{review.user.email}
            .mb-15
              - review.score.to_i.times do
                %i.fa.fa-star.rate-star
            %p #{review.message}
    - if user_signed_in?
      = form_for @review, url: reviews_path, method: :post, html: { class: "max-600 mb-80" } do |f|
        = hidden_field(:review, :book_id, :value => @book.id)
        .form-group
        = f.label :score, "Rating", class: "control-label input-label"
        = f.number_field :score, class: "form-control", placeholder: "Rating", min: "1", max: "5"
        .form-group
        = f.label :title, "Title", class: "control-label input-label"
        = f.text_field :title, class: "form-control", placeholder: "Title"
        .form-group
        = f.label :message, "Review", class: "control-label input-label"
        = f.text_area :message, class: "form-control", placeholder: "Review"
        = f.submit "Post", class: "btn btn-default center-block mb-20"
