%main.container.general-main-wrap
  - if current_order.order_items.any?
    %h1.general-title-margin Cart
    .visible-xs
      = form_for current_order, url: cart_path(current_order), method: :put do |f|
        = render partial: '/carts/order_products_xs'
        = f.submit "Update cart", class: "btn btn-primary mb-15 res-block"
        .col-sm-8
          .res-mr-200.text-center.general-text-right
            %p.in-gold-500.font-18 Order Summary
            %table.general-summary-table.general-summary-table-right.general-text-right
              = render partial: '/checkout/summary'
    .hidden-xs
      = form_for current_order, url: cart_path(current_order), method: :put do |f|
        = render partial: '/carts/order_products_md'
        .general-order-wrap
          .row
            .col-sm-4
              .input-group.general-input-group
                %label.font-weight-light Enter Your Coupon Code
                = f.text_field :coupon, {class: "form-control mb-30", placeholder: "Enter Your Coupon Code", value: current_order.coupon ? current_order.coupon.code : ''}
                %div
                  = f.submit "Update cart", class: "btn btn-primary mb-15 res-block"
            .col-sm-8
              .res-mr-200.text-center.general-text-right
                %p.in-gold-500.font-18 Order Summary
                %table.general-summary-table.general-summary-table-right.general-text-right
                  = render partial: '/checkout/summary'
    = button_to "Checkout",  checkout_index_path, method: :get, class: "btn btn-default mb-20 visible-xs-inline-block"
    = button_to "Checkout",  checkout_index_path, method: :get, class: "btn btn-default mb-20 hidden-xs center-block"
  - else
    %h1.general-title-margin The cart is empty
:javascript

  function inc_dec(sign, el){
    let id = Number(el.id.match(/\d+/));
    let value = $('#order_items_'+id+'_quantity').val() * 1;

    if (sign == '+'){
      value += 1;
    }else{
      if(value >= 2){
        value -= 1;
      }
    }
    $('#order_items_'+id+'_quantity').val(value);
  }
