%main.container
  %h1.general-title-margin=t :catalog
  = render partial: '/categories/filter'
  .mb-120
    .row
      - books.each do |book|
        .col-xs-6.col-sm-3.item-box
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              %img.img-shadow.general-thumbnail-img{src: "#{book.pictures.first.image.url(:thumb)}", alt: "#{book.title}"}
              .thumb-hover
                .general-thumb-link-wrap
                  %a.thumb-hover-link{href: "/books/#{book.id}"}
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  =link_to order_items_path(book_id: book.id), remote: true, class: "thumb-hover-link", method: :post do
                    %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.general-title= book.title
            %p.font-16.in-gold-500 €#{book.price}
            %span.divider-sm
            %p.in-grey-600.small= separated book.authors, :full_name
    .text-center
      =link_to_next_page books, t(:view_more), class: "btn btn-primary"
