%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .pull-right
      .dropdown
        %a.dropdown-toggle.dropdown-btn.width-240{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          Newest first
          %i.fa.fa-angle-down.dropdown-icon
        %ul.dropdown-menu
          %li
            %a{href: "#"} Newest first
          %li
            %a{href: "#"} Popular first
          %li
            %a{href: "#"} Price: Low to hight
          %li
            %a{href: "#"} Price: Low to hight
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: "#"}
          All
          %span.badge.general-badge= @books_count
      - categories.each do |category|
        %li.mr-35
          %a.filter-link{href: "/categories/#{category.id}"}
            = category.name
            %span.badge.general-badge= category.books.count
  .mb-40.visible-xs
    %p.in-grey-600.small.mb-10 Filter by category
    .dropdown.mb-20
      %a.dropdown-toggle.dropdown-btn.width-100{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Low to hight
    %p.in-grey-600.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.dropdown-btn.width-100{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Low to hight
  .mb-120
    .row
      - @category.books.each do |book|
        .col-xs-6.col-sm-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              %img.img-shadow.general-thumbnail-img{src: "#{book.pictures.first.image.url(:thumb)}", alt: "#{book.title}"}
              .thumb-hover
                .general-thumb-link-wrap
                  %a.thumb-hover-link{href: "/books/#{book.id}"}
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  %a.thumb-hover-link{href: "/books/#{book.id}"}
                    %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.general-title= book.title
            %p.font-16.in-gold-500 €#{book.price}
            %span.divider-sm
            %p.in-grey-600.small= separated book.authors, :full_name
    .row.mb-25
      .col-xs-6.col-sm-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .general-thumb-info
          %p.general-title Android Programming for Beginners
          %p.font-16.in-gold-500 €28.50
          %span.divider-sm
          %p.in-grey-600.small John Horton
      .col-xs-6.col-sm-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail.disabled
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .general-thumb-info
          %p.general-title Android Programming for Beginners
          %p.font-16.in-gold-500 €28.50
          %span.divider-sm
          %p.in-grey-600.small Bass Jobsen, David Cochran, Ian Whitley
      .col-xs-6.col-sm-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .general-thumb-info
          %p.general-title Android Programming for Beginners
          %p.font-16.in-gold-500 €28.50
          %span.divider-sm
          %p.in-grey-600.small Bass Jobsen, David Cochran, Ian Whitley
      .col-xs-6.col-sm-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .general-thumb-info
          %p.general-title Android Programming for Beginners
          %p.font-16.in-gold-500 €28.50
          %span.divider-sm
          %p.in-grey-600.small Bass Jobsen, David Cochran, Ian Whitley
    .text-center
      %button.btn.btn-primary View More
